build
install
*.log
*.substvars
*.debhelper
cups-driver-gutenprint
escputil
files
foomatic-db-gutenprint
gimp-gutenprint
gutenprint-doc
gutenprint-locales
ijsgutenprint
libgutenprint-dev
libgutenprint-doc
libgutenprint2
libgutenprintui2-1
libgutenprintui2-dev
patches
